h1 {
    text-align: center;
}

.FeedBackground {
    overflow: auto;
    display: block;
    margin: auto;
    width: 90vw;
    height: 60vh;
    background-color: rgba(192, 117, 117, 0.582);
    border-radius: 5px;
}

.MediaBackground {
    padding: 20px;
}

/*.Home {
    font-size: 10rem;
}*/

.CenteredButton {
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}


.TitleText {
    margin-top: 20px;
    padding: 60px 20px;
    padding-bottom: 30px;
}

.SubText {
    margin: 25px 60px;
    margin-bottom: 50px;
    text-align: justify;
}

.FaqQuestions {
    margin: 100px;
    margin-top: 50px;
    padding: 0px;
}


@media (max-width: 650px) {
    .FaqQuestions {
        margin:0px;
        padding:0px;
    }
}


@media (max-height: 712px) {
    .FeedBackground {
        max-height: 300px;
    }
    .MediaBackground {
        padding: 10px;
    }
    .SubText {
        margin: 20px;
    }
} 


